.skeleton {
  border-radius: 4px;
  animation: pulse 2s infinite;
  background-color: rgba(var(--v-theme-secondary), var(--v-disabled-opacity));
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
